
li{
    

    i.fas{
        margin-inline: 5px;
        cursor: pointer;
        
    }

    i.fa-trash-alt{
        color: red;
    }
    i.fa-edit{
        color: blue;    
    }
    .listInput{
        border: none;
    }
}